<% if User.find(session[:user_id]).booze_level < 2 %>

<% @barlist.each do |bar| %>
	<div class="place-item">
		<div class="icon-logo restaurant">
			<% if bar[:type] == "wine" %>
				<img src="https://abs.twimg.com/emoji/v1/72x72/1f377.png">
			<% else %>
				<img src="https://abs.twimg.com/emoji/v1/72x72/1f378.png">
			<% end %>
		</div>
		<div class="info">
			<h3><%= bar[:name] %></h3>
			<p><%= bar[:address] %> </p>
			<p>Rating: <%= bar[:rating] %> </p>
			<% @uberurl = @uberurl_1 + @uberurl_2 + bar[:lat].to_s + @uberurl_3 + bar[:long].to_s %>
			<%= link_to "Uber", @uberurl, :class => "uber-button" %>
		</div>
		<br />
	</div><br>
<% end %>

<% else %>

<% @barlist.each do |bar| %>
	<div class="place-item">
		<div class="icon-logo restaurant">
			<% if bar[:type] == "wine" %>
				<img src="https://abs.twimg.com/emoji/v1/72x72/1f377.png">
			<% else %>
				<img src="https://abs.twimg.com/emoji/v1/72x72/1f378.png">
			<% end %>
		</div>
		<div class="info big">
			<h3 class="big"><%= bar[:name] %></h3>
			<% @uberurl = @uberurl_1 + @uberurl_2 + bar[:lat].to_s + @uberurl_3 + bar[:long].to_s %>
			<%= link_to "Uber", @uberurl, :class => "uber-button big" %>
		</div>
		<br />
	</div><br><br>
<% end %>

<% end %>