<div class="login">
	<div class="notice">
		<p><%= flash[:notice] %></p>
	</div>

	<%= form_tag do_login_url, method: "post" do %>
		<%= text_field_tag :username, nil, :placeholder => 'Username', :class => "latlong" %>
		<%= password_field_tag :password, nil, :placeholder => 'Password', :class => "latlong" %>
		<div class="option-button">
			<div class="text">
				<%= submit_tag "LOG IN", :class => "submit" %>
			</div>
		</div>
	<% end %>

	<div class="new-user">
		<%= link_to new_user_url do %>
			<div class="option-button blue">
				<div class="text">
					NEW?
				</div>
			</div>
		<% end %>
	</div>
</div>