<div class="login">
	<div class="notice">
		<p><%= flash[:notice] %></p>
	</div>

	<%= form_tag(do_login_url, method: "post") do %>
		<%= text_field_tag     :username,    nil, placeholder: 'Username' %><br />
		<%= password_field_tag :password, nil, placeholder: 'Password' %><br />
		<%= submit_tag "Log In", class: "button submit" %>
	<% end %>

	<div class="new-user">
		<%= link_to "Create New User", new_user_url %>
	</div>
</div>