<!DOCTYPE html>
<html>
<head>
  <title>Hopscotch</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Grand+Hotel' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<% @user = session[:user_id].nil? ? nil :  User.find(session[:user_id]) %>
<% if @user.nil? || @user.booze_level < 2 %>
	<body>
<% else %>
	<body class="nite">
<% end %>
	<% if @user.nil? || @user.booze_level < 2 %>
		<div id="core">
	<% else %>
		<div id="core" class="nite">
	<% end %>
		<% if @user.nil? || @user.booze_level < 2 %>
			<header>
		<% else %>
			<header class="nite">
		<% end %>
			<% unless @user.nil? %>
			<nav>
				<div class="menu-icon">
					<% if @user.nil? || @user.booze_level < 2 %>
						<%= image_tag "menu-icon.png" %>
					<% else %>
						<%= image_tag "menu-icon_nite.png" %>
					<% end %>
				</div>
			</nav>
			<% end %>
			<div id="logo">
				<%= link_to bac_url do %>      
					<% if @user.nil? || @user.booze_level < 2 %>
						<%= image_tag "hopscotch.png" %>
					<% else %>
						<%= image_tag "hopscotch_nite.png" %>
					<% end %>
				<% end %>
			</div>
			<% unless @user.nil? %>
			<div id="drunk-o-meter">
				<!--div class="text"-->
					<!-- DRUNK 'O' METER -->
				<!--/div-->
				<div id="drunk-emoji">
					<img src="<%= @user.drunk_emoji %>">
				</div>
			</div>
			<% if @user.nil? || @user.booze_level < 2 %>
				<ul>
			<% else %>
				<ul class="nite">
			<% end %>
				<% if @user.current_hop.nil? %>
					<li><%= link_to "Begin a Hop", new_hop_url %></li>
				<% elsif Registration.find(@user.current_hop).hop.planned == false %>
				  <li><%= link_to "End Hop", leave_hop_url %></li>
				<% else %>
				  <li><%= link_to "Current Hop", current_hop_url %></li>
				  <li><%= link_to "Leave Hop", leave_hop_url %></li>
				<% end %>
	 			<li><%= link_to "Logout", logout_url %></li>
	 		</ul>
	 		<% end %>
		</header>

		<%= yield %>
		<div class="push"></div>
	</div>
	<footer>
	</footer>
	<%= javascript_include_tag "nav"%>
</body>
</html>
