<!DOCTYPE html>
<html>
<head>
  <title>Hopscotch</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="core">
		<header>
			<nav>
			</nav>
			<div id="logo">
				<%= image_tag "hopscotch.png" %>
			</div>
			<div id="drunk-o-meter">
			</div>
		</header>

		<%= yield %>
	</div>
</body>
</html>
